<div class="container mt-2 shadow-lg">
  <h1 class="text-white text-center">Characters List</h1>
  <app-shared-spinner [message]="message" *ngIf="isLoading" />
  <div class="row" *ngIf="!isLoading">
    <div class="col-12 col-sm-6 col-md-4" *ngFor="let x of charactersList">
      <app-characters-character-card [character]="x" />
    </div>
  </div>
  <!-- Paginador -->
  <div class="d-flex justify-content-center">
    <ul class="pagination pagination-sm">
      <li class="page-item disabled">
        <div class="d-grid gap-2">
          <button
            type="button"
            class="btn btn-primary mx-2"
            (click)="changePage('previous')"
          >
            <i class="fas fas fa-arrow-circle-left"></i>
            Prev
          </button>
        </div>
      </li>
      <h5 class="text-center text-success">Total {{ totalPages }} !</h5>

      <li class="page-item">
        <div class="d-grid gap-2">
          <button
            type="button"
            class="btn btn-primary mx-2"
            (click)="changePage('next')"
          >
            Next
            <i class="fas fas fa-arrow-circle-right"></i>
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>
